
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Courier, monospace;
}


h1{
    display:flex;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
    font-weight: 600px;
    color:beige;
    font-family:'Poppins', 'Times New Roman', Times, serif;
}

body{
    background-color: #8a2525;
}

footer{
    margin-top:40px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.choiceContainer{
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
    
}

.chosenChoice{
    width:400px;
}


.hchoice p{
    margin-left:120px;
    font-weight:700;
}

.cchoice p{
    margin-left:30px;
    font-weight:700;
}

.result h2{
    margin-top:150px;
    text-align: center;
}

.result p{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}

.choiceContainer{
    font-size:27px;
}

.choiceBoxes{
    display:flex;
    justify-content:space-evenly;
    margin-left: 60px;
}
.choiceBoxContainer img{
    width:200px;
    background-color: antiquewhite;
    border: solid black 4px;
    border-radius:30%;
}

.choiceBoxContainer p{    
    text-align: center;
    font-size:20px
}

.choiceBoxContainer button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.choiceBoxContainer button:hover{
    transform: scale(1.02);
}

#humanScoreBox,#computerScoreBox{
    text-align: center;
    font-size:20px;
    font-weight: 500;
    /* margin-right:40px; */

}

#score{
    font-size:100px;
}

.scoreBox.c{
    margin-left:20px;
}

.scoreBox.h{
    margin-right:300x;
}

